@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100..900&family=Luxurious+Script&display=swap');

/* .luxurious-script-regular {
  font-family: "Luxurious Script", cursive;
  font-weight: 400;
  font-style: normal;
} */

@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100..900&display=swap');

/* .lexend-exa-<uniquifier> {
  font-family: "Lexend Exa", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */


* {
  margin: 0;
  padding: 0;
  font-family: "Lexend Exa", sans-serif;

}